// Navigation Styles here
.bus-nav{
    display: flex;
    border: 1px dotted gray;

    h1{
      margin-right: 10px;  
      padding: 10px;
      box-sizing: border-box;
      font-size: 3.5rem;

    nav {
      justify-content: space-evenly;
      padding-top: 20px;
      box-sizing: border-box;
      margin-left: 60%;
      text-decoration: none;
      margin: 10px;
      color: black;


    }
    }      
}

  header{
    img{
      width: 100%;
      margin: 20px;
    }
      
    }
  }

.content-pick{
  display:flex;

  .btn{
  text-align: center;
  background: @button-bg;
  border-radius: 10px;
  display: inline-block;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.6rem;
  color: @white;

  }
}
